@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */

    --Blue-950: hsl(233, 26%, 24%);
    --Green-500: hsl(136, 64%, 51%);
    --Cyan-400: hsl(192, 69%, 51%);

    /* ### Neutral */

    --Gray-600: hsl(233, 8%, 62%);
    --Gray-100: hsl(220, 16%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
    --White: hsl(0, 100%, 100%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public Sans", sans-serif;
    line-height: 1.5;
}

img {
    display: inline-block;
}   

.hero {
    background-color: var(--White);
}

.hero--nav,
.about,
.blog,
.footer {
    width: max(80%, 300px);
    margin:  0 auto;
}

.hero--nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1em 0;
}

.nav--link1 {
    position: absolute;
    top: 5em;
    width: 300px;
    background-color: var(--White);
    padding: 2em;
    border-radius: 3px;
    display: none;
    z-index: 4;
}

.nav--link1 li {
    list-style-type: none;
    padding-top: 0.5em;
}

.nav--link1 img {
    transform: translateX(200px);
}

.nav--link1 a {
    color: var(--Blue-950);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.nav--link2 {
    display:  none;
}

.blog  img{
    width: 100%;
}

.hero--banner {
    display: flex;
    flex-direction: column-reverse;
}

.mobile--image {
    width: 100%;
    background-image: url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

.hero--banner img {
    width: 90%;
    transform: translateX(5%);
    padding-top: 0.5em;
    position: relative;
    top: -6rem;
}

.hero--banner section {
    text-align: center;
    width: max(80%, 300px);
    margin:  0 auto;
}

.hero--banner h1 {
    font-size: 2.25rem;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.hero--banner p {
    color: var(--Gray-600);
    margin-bottom: 2em;
    text-align: center;
}

.hero--banner a {
    background-image: linear-gradient(50deg, var(--Green-500), var(--Cyan-400));
    padding: 0.5em 1em;
    border-radius: 50px;
    text-decoration:  none;
    color: var(--White);
}

.about--container {
    background-color: var(--Gray-100);
    padding: 2em 0;
    margin-top: 3em;
}

.about div,
article {
    display: grid;
}

.about p {
    color: var(--Gray-600);
    margin-bottom: 2em;
    text-align: center;
}

.about h2,
.about h3 {
    text-align: center;
    font-weight: 400;
    margin: 0.5em 0;
}

.about h2 {
    font-size: 1.8rem;
}

.about h3 {
    font-size: 1.3rem;
}

.about img {
    display: block;
    margin: auto;
    width: 30%;
}

.blog {
    padding: 3em 0;
}

.blog h2 {
    text-align: center;
    margin: 1em 0;
}

.blog section {
    margin-bottom: 3em;
    border: 2px solid var(--Gray-100);
    border-radius: 8px;
}

.blog small {
    display: block;
    margin-top: 2em;
    color: var(--Gray-600);
    padding: 0 1em;
}

.blog p {
    padding: 0 1em;
    color: var(--Gray-600);
    margin-bottom: 2em;
}

.blog h3{
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0 1em;
}

footer {
    background-color: var(--Blue-950);
    text-align: center;
    padding: 2em 0;
}

.footer {
    color: var(--White);
}

.footer small {
    display: block;
    color: var(--Gray-600);
}

.footer li {
    list-style-type: none;
}

.footer ul li a {
    display: inline-block;
    color: var(--White);
    text-decoration: none;
    padding-top: 0.5em;
}

.footer img[alt="logo-light"],
.footer div:has(img[alt="facebook-logo"]) {
    margin-bottom: 2em;
}

.Request-link {
    background-image: linear-gradient(50deg, var(--Green-500), var(--Cyan-400));
    padding: 0.5em 1em;
    border-radius: 50px;
    display: inline-block;
    color: var(--White);
    text-decoration: none;
    margin-bottom: 2em;
}

.attribution {
    margin-top: 1em;
    font-size: 11px;
    text-align: center;
    color: var(--White);
}
.attribution a { 
    color: var(--Gray-600);
    text-decoration: none;
}

@media(min-width: 30em) {
    .about div,
    article {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .footer,
    .footer--section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer--section {
        width: 50%;
    }

    

    .footer div:has(img[alt="facebook-logo"]) { 
        margin: 0;
    }

    .footer div:has(img[alt="facebook-logo"]) img { 
        display: inline-block;
        padding: 0 0.5em;
    }

    .footer div ul li{
        text-align: left;
        padding-bottom: 0.5em;
    }
}

@media(min-width: 70em) {
    .hero--banner {
        width: max(90%, 300px);
        margin-left:  auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .desktop--image {
        width: 100%;
        background-image: url('./images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: -15rem;
        background-size: cover;
        overflow: hidden;
    }

    .hero--banner img {
        transform: translateX(20%);
        top: -10em;
        left: 2em;
    }

    .hero--banner section {
        width: 50%;
        transform: translateY(80%);
    }

    .hero--banner section,
    .hero--banner p {
        text-align: left;
    }

    .about div,
    article {
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }

    .about div p,
    .about div h3 {
        text-align: left;
    }

    .about img {
        display: block;
        margin: 0;
        width: 30%;
    }

    .blog img {
        object-fit: cover;
        aspect-ratio: 4/3;
    }
}